body {
    font-family: system-ui;
    background: #f06d06;
    background-color: #F6C453;
    margin: 0;
    padding: 0;
    
}

.faixa{
    width: 122%;
    height: 160px;
    background-color: bisque;
  
  }

  .faixa2 {
   text-align: center;
    color: #ffff0d;
    font-size: 40px;
    font-style: italic;
    width: 100%;
    position: relative ;
    top: -30px;
    
  }
  .faixa3 {
    text-align: center;
    border: #15ff0d;
    background-color: #c69e7c;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    border: 20px solid #4A2C29;
    border-bottom: 25px solid #4A2C29;
    width: 119%;
   }

  .logo{
    margin: 0;
    background-color: #993535;
    width: 122%;
    height: 30;
  }

  #butao {
    position: relative ;
    top: -30px;
    left: 60px;
    
    background-color: #aa7e3c;
  }
#butao1 {
    position: relative ;
    top: -30px;
    left: 60px;  
     background-color: #aa7e3c;   
  }
#butao2 {
    position: relative ;
    top: -30px;
    left: 60px;
     background-color: #aa7e3c;
  }
#butao3 {
    position: relative ;
    top: -30px;
    left: 60px;
    background-color: #aa7e3c;
  }
#butao4 {
    position: relative ;
    top: -70px;
     right: 200px;
     left: 182px;
     background-color: #c0bb8e;
  }


